docs/n8n/workflows/weather.json
{
  "name": "weather",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d4f7ffa4-794c-4d7f-b6a5-dee40252c7bd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.forecasts[0].casts.map(item => {\n  item.province = \"浙江\"\n  item.city = \"杭州市\"\n  item.adcode = 330100\n  return item\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "3a2d5121-3edb-4419-a320-c23650021f65",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://restapi.amap.com/v3/weather/weatherInfo?key=e23288b66d38b119d2325439895cb3bf&city=330100&extensions=all",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "b3994a64-b38d-4269-8957-7d510fc377a4",
      "name": "Weather"
    },
    {
      "parameters": {
        "url": "https://api.effiy.cn/api/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "module_name",
              "value": "modules.database.mongoClient"
            },
            {
              "name": "method_name",
              "value": "upsert_many"
            },
            {
              "name": "params",
              "value": "={\"cname\":\"weather\",\"documents\": {{ JSON.stringify($input.all().map(item => item.json)) }}, \"query_fields\": [\"city\", \"date\"] }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "ddb6af52-36d1-4783-b6f4-ac82be931c1b",
      "name": "Mongo"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Mongo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a5beb87-32b8-485b-86de-5b203400c4bc",
  "meta": {
    "instanceId": "13c44c29821d820f58d01df6007919b772c3a53794ff8732958835f32562f1de"
  },
  "id": "iaDEs8QpKMDaF2b8",
  "tags": []
}
