docs/n8n/workflows/wechat_robot.json
{
  "name": "wechat-robot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -40
      ],
      "id": "f93c01f8-af81-4c20-b69a-a427ac981a45",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=391185cd-b748-43a2-a9ec-2163183e3cd0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"markdown\",\n  \"markdown\": {\n      \"content\": \"{{ $json.combinedStr }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -40
      ],
      "id": "9240dffb-75c1-401c-afc2-f2d87d332b47",
      "name": "qwapi"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  combinedStr: $input.first().json.data.map(item => `[${item.title}](${item.url})`).join('\\\\n')\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -40
      ],
      "id": "243f00a0-f365-4a0c-b1d3-40cb6ad29654",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "http://localhost:8000",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -40
      ],
      "id": "54146e29-845a-43d5-b1b8-19c0d10b289c",
      "name": "crawler"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qwapi": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "qwapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crawler": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3730a2be-9645-4e59-aca5-3fd6617cbb90",
  "meta": {
    "instanceId": "13c44c29821d820f58d01df6007919b772c3a53794ff8732958835f32562f1de"
  },
  "id": "l9pRLrrZsd5Qszou",
  "tags": []
}
